<html ng-app="dictionaryModule" ng-controller="wordTestController">
<head>
	<title>Word test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<script src="../js/url-helper.js" type="text/javascript"></script>
	<script src="../js/jquery-3.1.1.js" type="text/javascript"></script>
	<script src="../js/bootstrap.js" type="text/javascript"></script>
	<script src="../js/angular.js" type="text/javascript"></script>
	<script src="../js/util.js"></script>
	<script src="../js/dictionary-module.js"></script>
	<script src="../js/word-test.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div ng-include="'fragment/word-test-form.html'"></div>
		</div>
	</div>
</body>
</html>