<html ng-app="dictionaryModule" ng-controller="wordTranslateController">
<head>
	<title>{{word.value}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<script src="../js/url-helper.js" type="text/javascript"></script>
	<script src="../js/jquery-3.1.1.js" type="text/javascript"></script>
	<script src="../js/bootstrap.js" type="text/javascript"></script>
	<script src="../js/angular.js" type="text/javascript"></script>
	<script src="../js/util.js"></script>
	<script src="../js/dictionary-module.js"></script>
	<script src="../js/word-translate.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<table class="table">
				<tr class="active">
					<th>Word</th><th>Transcription</th><th>Translate</th>
				</tr>
				<tr ng-repeat="transl in word.translates">
					<td class="word">
						<div ng-if="$first">
							<a class="word" ng-href="https://translate.google.ru/#en/ru/{{word.value}}" target="_blank">{{word.value}}</a>
						</div>
					</td>
					<td class="word">
						<div ng-if="$first">{{word.transcription}}</div>
					</td>
					<td class="word">{{transl.translateWord.value}}</td>
				</tr>
			</table>
		</div>
		<div class="row">
			<a class="btn btn-primary" ng-href="../view/edit-translate.html?wordId={{word.id}}" target="_blank">Change translate</a>
		</div>
	</div>
</body>
</html>